<div class="nav">
    <a href="{{ '/' | deployUrl }}">Home</a>
    <a href="{{ '/about/' | deployUrl }}">About</a>
    <a href="{{ site.donationUrl }}" target="_blank" class="donate-button">Donate</a>
</div>