---
layout: base.njk
title: Page Not Found
permalink: 404.html
---

{% block content %}
<h1>404</h1>
<div class="tagline">Page Not Found</div>
<p style="margin-top: 2rem;">
    <a href="/" class="contact">Return to Home</a>
</p>
{% endblock %}